
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient( 120deg, rgba(199, 246, 212, 0.6), rgba(163, 230, 196, 0.6), rgba(141, 217, 178, 0.6)), url(https://www.debate.com.mx/__export/1663978991262/sites/debate/img/2022/09/23/fisioterapia_1.jpg_172596871.jpg); /* Color de fondo de la página */
      background-size: cover;
      background-attachment: fixed; 
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      margin-top: 30px;
    }

    form {
      max-width: 400px;
      margin: 30px auto;
      padding: 20px;
      background-color: #ecc6f18a;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      font-weight: bold;
      margin-top: 10px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
   


